 ## <center> Entregable N° 2 - Data Engineering </center>

In [1]:
# Importamos Librerias

import psycopg2
import pandas as pd
import requests
import json

In [2]:
# Definimos los datos de conexión a Redshift

host = "data-engineer-cluster.cyhh5bfevlmn.us-east-1.redshift.amazonaws.com"
port = 5439
database = "data-engineer-database"
user = "sanabriaja15_coderhouse"
with open("pwd.txt",'r') as f:
    password = f.read()

In [3]:
# Definimos las columnas de la tabla

columns = ["no_of_comments", "sentiment", "sentiment_score","ticker"] 


# Definimos la función para leer los datos de la API

def read_data():
        url = 'https://tradestie.com/api/v1/apps/reddit'
        response = requests.get(url)
        response_json = json.loads(response.text)
        return response_json

# Creamos la tabla en Redshift

def create_table():
    connection = psycopg2.connect(
        host=host,
        port=port,
        database=database,
        user=user,
        password=password,
    )
    cursor = connection.cursor()
    cursor.execute(
        f"CREATE TABLE entregable2 (no_of_comments int, sentiment varchar (50), sentiment_score varchar (50), ticker varchar (50))"
        
    )
    connection.commit()
    cursor.close()

In [4]:
# Cargamos los datos en la tabla
def load_data():
    connection = psycopg2.connect(
        host=host,
        port=port,
        database=database,
        user=user,
        password=password,
    )
    cursor = connection.cursor()
    data = read_data()
    for row in data:
        cursor.execute(
            f"INSERT INTO entregable2 (no_of_comments, sentiment, sentiment_score,ticker) VALUES ({row['no_of_comments']}, '{row['sentiment']}', '{row['sentiment_score']}', '{row['ticker']}')"
                                
        )
    connection.commit()
    cursor.close()

In [5]:
# Ejecutamos las funciones
create_table()
load_data()

In [6]:
# Realiza operaciones en la base de datos, verificación.

try:
    connection = psycopg2.connect(
        host=host,
        port=port,
        database=database,
        user=user,
        password=password,
    )
    

except Error as e:
    print("Error de conexión", e)

In [7]:
# Consulta SELECT

cursor = connection.cursor()
cursor.execute("SELECT * FROM entregable2")
rows = cursor.fetchall()

for row in rows:
    print(row)

cursor.close()

(53, 'Bullish', '0.033', 'AMC')
(27, 'Bearish', '-0.024', 'TSLA')
(26, 'Bullish', '0.116', 'AI')
(24, 'Bullish', '0.06', 'NVDA')
(21, 'Bullish', '0.046', 'JPM')
(20, 'Bullish', '0.104', 'QQQ')
(13, 'Bullish', '0.028', 'LLY')
(12, 'Bullish', '0.112', 'NFLX')
(12, 'Bullish', '0.1', 'LMT')
(10, 'Bullish', '0.236', 'IRS')
(10, 'Bullish', '0.15', 'SQQQ')
(9, 'Bullish', '0.158', 'MSFT')
(8, 'Bearish', '-0.323', 'AA')
(7, 'Bullish', '0.184', 'PYPL')
(6, 'Bearish', '-0.228', 'ON')
(5, 'Bullish', '0.264', 'UK')
(5, 'Bullish', '0.192', 'TLT')
(4, 'Bearish', '-0.155', 'AAPL')
(4, 'Bullish', '0.213', 'DG')
(4, 'Bearish', '-0.024', 'TV')
(4, 'Bullish', '0.09', 'IP')
(4, 'Bearish', '-0.291', 'SAVA')
(3, 'Bearish', '-0.195', 'PLTR')
(3, 'Bullish', '0.384', 'BABA')
(3, 'Bullish', '0.482', 'TD')
(3, 'Bearish', '-0.201', 'NOW')
(3, 'Bearish', '-0.06', 'TQQQ')
(3, 'Bearish', '-0.13', 'BEAT')
(3, 'Bearish', '-0.127', 'EOD')
(2, 'Bullish', '0.145', 'TA')
(2, 'Bearish', '0.0', 'LULU')
(2, 'Bullish', '0.348', 'USB')
(2, 'Bullish', '0.077', 'BA')
(2, 'Bearish', '-0.408', 'BBBY')
(2, 'Bearish', '-0.276', 'TLRY')
(2, 'Bearish', '-0.501', 'ES')
(2, 'Bullish', '0.182', 'FB')
(2, 'Bearish', '0.0', 'BLK')
(2, 'Bullish', '0.375', 'JP')
(2, 'Bullish', '0.481', 'DVD')
(2, 'Bullish', '0.382', 'LIFE')
(2, 'Bullish', '0.43', 'PBR')
(2, 'Bullish', '0.3', 'BR')
(2, 'Bearish', '-0.276', 'XOM')
(2, 'Bearish', '-0.138', 'RSI')
(2, 'Bearish', '-0.561', 'PUMP')
(2, 'Bullish', '0.039', 'ONE')
(2, 'Bearish', '-0.271', 'IBKR')
(2, 'Bullish', '0.032', 'DIS')
(2, 'Bearish', '-0.115', 'ATVI')

In [8]:
# Cerrar conexion

connection.close()